/*
Gray 1 #F6F5F3
Gray 2 #E4E3E2
Gray 3 #D5D4D1
Gray 4 #9E9B94
Gray 5 #6E6A63
Gray 6 #3C3A36

Red #FF5B56

Yellow #F3CF58

Orange #FF9E61
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #3C3A36;
}


html {
    width: 100%;
}

body {
  width: 100%;
}

/*
--------------------------------------------------------------------------------
COLORS UNIQUE TO THIS CASE STUDY
--------------------------------------------------------------------------------
*/

.content-frame h4 {
  color: hsla(197,80%,48%,1);
}

/*
--------------------------------------------------------------------------------
Containers
--------------------------------------------------------------------------------
*/
.title-frame {
  flex-direction: column;
}
/*
--------------------------------------------------------------------------------
HERO CARD
--------------------------------------------------------------------------------
*/

.hero-container {
  background-image: url(../images/fg-case-study/bg.png);
  background-position: center;
  background-size: cover;
}

.hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-card div {
  border: 4px solid hsla(197,80%,48%,1);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
}

.hero-card div img {
  width: 90%;
}

/*
--------------------------------------------------------------------------------
Title CARD
--------------------------------------------------------------------------------
*/

h1, h2{
  margin-bottom: 1.5rem;
}

#fs-desc {
  font-weight: 200;
}

/*
--------------------------------------------------------------------------------
SECTION BREAKER Card
--------------------------------------------------------------------------------
*/

.full-page-container.section-marker {
  height: 600px;
  background-color: hsla(1,0%,20%,1);

}

.section-marker .content-frame {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 6px;
}

.section-marker h1 {
  color: hsla(1,0%,96%,1);
  margin: 0;
}

/*
--------------------------------------------------------------------------------
Step Card
--------------------------------------------------------------------------------
*/
.step-card {
  border-radius: .5rem;
  align-items: center;
  flex-direction: row;
}

.step-card.reverse {
  flex-direction: row-reverse;
}

.step-card.full {
  flex-direction: column;
}

.full img, .full .text-div {
  max-width: 1000px;
  padding-right: 0rem;
}

.step-card div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.text-div {
  padding-right: 1rem;
}

.reverse .text-div {
  padding-right: 0rem;
  padding-left: 1rem;
}


.img-div {
  padding-left: 1rem;
}

.reverse .img-div {
  padding-left: 0rem;
  padding-right: 1rem;
}

.step-card .text-div {
  align-items: flex-start;
  margin-bottom: 2rem;
}

.text-div .card-headings {
  margin-bottom: 1rem;
}



.step-card .img-div {
  align-items: center;
}

.step-card .img-div img {
  width: 100%;
  margin-bottom: 16px;
}

.img-div p.view-more {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-variant: small-caps;
}

.step-card div.roles-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.roles-tools div {
  width: 25%;
}

@media (max-width:1280px)  {
  /*
  --------------------------------------------------------------------------------
  All Content Blocks
  --------------------------------------------------------------------------------
  */


  /*  --------------------------------------------------------------------------------
  STEP CARD
  */



}

@media (max-width:1024px)  {
  /*
  --------------------------------------------------------------------------------
  All Content Blocks
  --------------------------------------------------------------------------------
  */



  /*  --------------------------------------------------------------------------------
  STEP CARD
  */
.step-card {
  align-items: flex-start;
}


}

@media (max-width:768px)  {
  /*
  --------------------------------------------------------------------------------
  All Content Blocks
  --------------------------------------------------------------------------------
  */

  /*  --------------------------------------------------------------------------------
  STEP CARD
  */
  .step-card, .step-card.reverse {
    flex-direction: column;
  }

  .text-div, .reverse .text-div {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .img-div, .reverse .img-div {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .step-card .img-div img {
    width: 80%;
    margin-bottom: 16px;
  }

}

@media (max-width:480px){
  /*
  --------------------------------------------------------------------------------
  All Content Blocks
  --------------------------------------------------------------------------------
  */


  /*  --------------------------------------------------------------------------------
  STEP CARD
  */
}






/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

/*
@media (max-width:480px)  {  smartphones, iPhone, portrait 480x320 phones  }

@media (max-width:640px)  {  portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  }
@media (max-width:960px)  {  portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  }
@media (max-width:1280px) {  big landscape tablets, laptops, and desktops  }
@media (everything else will be) {  hi-res laptops and desktops  }
*/
