/* DEFAULTS */

h1, h2, h2, h3, h4, h5, p, a {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

button {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

/* NAVBAR */

.container {
  width: 90%;
  margin: 0 auto;
  border: 0px solid red;
}

header{
  background-color: hsla(0, 0%, 100%, 0.0);
  position: fixed;
  width: 100%;
  z-index: 100;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo.small {
  height: 60px;
  float: left;
  margin: 0;
  padding: 10px 0;
}

nav {
  float: right;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 60px;
  padding-top: 30px;
  position: relative;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
}

nav a:hover{
  color: #DC6464;
}

nav a::before{
  content: '';
  display: block;
  height: 3px;
  width:  0%;
  background-color: #DC6464;
  position: absolute;
  top: 45%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* HERO */

.hero {
  width: 100%;
  height: 700px;
  background-color: black;
  background-image: url(../images/lucas-bg-wide.png);
  background-position: right;
  background-size: cover;
}

.hero .overlay {
  width: 100%;
  height: 100%;
  background: rgb(57,57,57);
  background: linear-gradient(69deg, rgba(57,57,57,1) 0%, rgba(57,57,57,0.9808298319327731) 28%, rgba(57,57,57,0.7567401960784313) 100%);
  margin: 0 auto;
}


.overlay .container {
  border: 1px solid red;
  width: 80%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  top: 20%;
  max-width: 1200px;
}

.hero img {
  width: 100%;
  position:absolute;
  bottom: 0;
}

.hero .img-wrapper{
  width: 33%;
  height: 233px;
  background-color:blue;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}

.hero .h1-wrapper {
  height: 233px;
  width: 67%;
  background-color: red;
  float: right;
  position: relative;
}

.hero h1 {
  color: white;
  /*display: inline-block;
  margin-top: 84px;
  margin-left: 20px;*/
  font-size: 3rem;
  position: absolute;
  bottom: 5px;
  margin: 0;
}


.hero h1 span {
  color: #F3CF58;
}

.hero h3{
  color: white;
  clear: left;
  font-weight:200;
  font-size: 1.875rem;
  line-height: normal;
  letter-spacing: -0.03em;
  display: block;
}

/* CASE STUDY CARDS */

section.projects {
  background-color: E5E5E5;
}

.project {
  /*border: 2px solid blue;*/
  height:480px;
  margin: 100px auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.project .left {
  width: 50%;
  height: 100%;
  background-color: ;
  padding-top: 50px;
  border-right: 1px solid #d3d3d3;
}

.project .container {
  background-color: ;
  height: 80%;
  width: 70%;
  position: relative;

}

.project h1 {
  color: #393939;
  margin: 0 0 20px 0;
}

.project .left button {
  width: 80%;
  height: 60px;
  border-radius: 6px;
  color: white;
  background-color: #DC6464;
  bottom: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.project p {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}

.dad {
  width: 60%;
  height: 300px;
  background-color: gray;
  margin: 100px auto;

}

.dad .col-left {
  width: 25%;
  height: 300px;
  background-color: blue;
  float:left;

}

.dad .col-right {
  width: 75%;
  height: 300px;
  background-color: red;
  float:right;

}
